@model IEnumerable<MunicipalLibrary.Models.Book>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (!Model.Any())
{
    <p>Sem livros cadastrados.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Subtitulo</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Subtitle</td>
                    <td>@book.Category</td>
                </tr>
            }

        </tbody>
    </table>
}


