@model IEnumerable<MunicipalLibrary.Models.Rent>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (!Model.Any())
{
    <p>Sem emprestimos cadastrados.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Livro</th>
                <th>Cliente</th>
                <th>Emprestimo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rents in Model)
            {
                <tr>
                    <td>@rents.Book</td>
                    <td>@rents.Client</td>
                    <td>@rents.RentDate</td>
                </tr>
            }

        </tbody>
    </table>
}


