@model IEnumerable<MunicipalLibrary.Models.Client>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if(!Model.Any())
{
    <p>Sem clientes cadastrados.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Documento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <td>@client.Name</td>
                    <td>@client.BirthDate</td>
                    <td>@client.Document</td>
                </tr>
            }

        </tbody>
    </table>
}


